// HEADER

h1, h2, h3, h1.title, h3.tagline {
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: normal;
}

.title {
  font-size: 44px;
  margin: 20px 10px 15px;
}

.tagline {
  font-size: 24px;
  line-height: 1.2em;
}

// SELECTOR

.selector {

  .select-label {
    font-size: 16px;
  }

  form {
    margin: 4px;
    display: inline-block;
  }

  input.btn {
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 44px;
    height: 36px;
    text-shadow: none;
    border: none;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.3);

    &:hover { }
  }

  #select-1 { background: red; }
  #select-2 { background: orange; }
  #select-3 { background: #F5CF00; }
  #select-4 { background: green; }
  #select-5 { background: blue; }
  #select-6 { background: indigo; }
  #select-7 { background: purple; }

  .break { display: inline; }

}

// PARAGRAPHS

#paragraphs {
  margin-bottom: 50px;
}

// FOOTER

footer {
  margin: 30px 0 20px;
  text-align: center;
  font-size: 11px;
  line-height: 1.3em;

  img { margin-bottom: 8px; }
  .license { margin-bottom: 10px; }
}

// SITEWIDE

.box {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  margin: 20px 0;
}

// RESPONSIVE

@media only screen and (max-width: 480px) {
  .title { font-size: 40px; }
  .selector .break { display: block; }
}

// ANIMATION

@-webkit-keyframes rainbow {
  0% { border-color: hsl(0, 100%, 50%); }
  100% { border-color: hsl(255, 100%, 50%); }
}

.rainbow-border {
  border: 3px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 1s infinite alternate;
}
