// HEADER

h1, h2, h3, h1.title, h3.tagline {
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight: normal;
  text-align: center;
}

.title {
  font-size: 44px;
  margin: 20px 10px 10px;
}

.tagline {
  font-size: 22px;
  line-height: 1.2em;
  margin-top: 0;
}

// SELECTOR

.selector {

  .btn-toolbar .btn-group {
    float: none;
  }

  .select-label {
    font-size: 16px;
  }

  .btn-submit {
    border: 2px solid #eee;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, .3);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 36px;
    line-height: 28px;
    margin: 5px;
    padding: 2px;
    text-shadow: none;
    width: 50px;

    &:hover, &.hover {
      border-color: gold;
      color: white;
    }

    &:active, &.active {
      box-shadow: 3px 3px 5px rgba(50, 50, 50, .3);
    }
  }

  #select-1 { background: red; }
  #select-2 { background: orange; }
  #select-3 { background: #f5cf00; }
  #select-4 { background: green; }
  #select-5 { background: blue; }
  #select-6 { background: indigo; }
  #select-7 { background: purple; }
}

// PARAGRAPHS

.ipsum-paragraphs {
  font-size: 15px;
  margin-bottom: 20px;
}

// SOCIAL

.social {
  @include display(flex);
  @include justify-content(center);

  .social-block {
    width: 200px;
  }
}

// FOOTER

footer {
  font-size: 11px;
  line-height: 1.3em;
  margin: 10px 0 20px;
  text-align: center;

  .links a {
    margin: 0 4px;
    text-decoration: underline;
  }

  .license { margin-bottom: 10px; }
  .feedback { margin-top: 10px; }
}

// SITEWIDE

.box {
  border-bottom: 2px solid #ccc;
  border-radius: 10px;
  border-top: 2px solid #ccc;
  margin: 20px 0;
  padding: 12px 12px 20px;
}

// RESPONSIVE

@media only screen and (max-width: 480px) {

  .title {
    font-size: 40px;
  }

  .ipsum-paragraphs {
    font-size: 14px;
  }

  .selector .btn-submit {
    width: 36px;
    margin: 0;
  }

  .social {
    display: block;
    margin-bottom: 2em;

    .social-block {
      margin: auto;
    }
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
