%p.attribution Hippie Ipsum &copy; 2013-2014 by Jeremy Taylor

.links
  %a{href: "http://hipsteripsum.me"} Hipster Ipsum
  %a{href: "http://startupipsum.co"} Startup Ipsum
  %a{href: "http://www.cupcakeipsum.com/"} Cupcake Ipsum
  %a{href: "http://baconipsum.com"} Bacon Ipsum
  %a{href: "http://slipsum.com"} Samuel L. Ipsum
  %a{href: "http://en.wikipedia.org/wiki/Lorem_ipsum"} Ipsum what?

  .feedback
    %a{href: "mailto:feedback@hippieipsum.me"} Feedback or suggestions?
    %a{href: "/api/v1/get/5"} API
    %a{href: "https://github.com/mayatron/hippie-ipsum"} View on GitHub
