<div class="social-block facebook">
  <!-- Facebook Like button -->
  <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hippieipsum.me%2F&width=100px&layout=button_count&action=like&show_faces=true&share=true&height=46&appId" width="180" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>

<div class="social-block twitter">
<!-- Share HippieIpsum on Twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hippieipsum.me/" data-text="Blowin' up your browser with sacred ipsum from indigenous dolphins. Namaste, bitches." data-via="mayatron" data-hashtags="hippieipsum">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Follow on Twitter button -->
<a href="https://twitter.com/mayatron" class="twitter-follow-button" data-show-count="false">Follow @mayatron</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
